VITE_APP_MANAGEMENT_API_URL=http://129.146.21.16:8081/api/v1/application-management
VITE_WORKFLOW_STATUS_API_URL=http://129.146.21.16:8086/api/v1/workflow-status
VITE_PRICING_API_URL=http://129.146.21.16:8082/api/v1/pricing-orchestration
VITE_OFFER_ACCEPTANCE_API_URL=http://129.146.21.16:8085/api/v1/offer-acceptance
VITE_DOCUMENT_API_URL=http://129.146.21.16:8084/api/v1/document
VITE_PRICING_OFFERS_UI_JS_URL=http://129.146.21.16:3001/pricing-offer-selector.iife.js
VITE_DOCUMENT_MANAGEMENT_UI_JS_URL=http://129.146.21.16:3002/document-upload-manager.iife.js
